# OpenAI API Key，用于访问 OpenAI key
OPENAI_API_KEY=
# OpenAI API 的 URL
OPENAI_API_BASE=
# 默认使用的 OpenAI 模型名称
OPENAI_MODEL_NAME=
# 指定 LLM 服务提供商，这里使用 OpenAI
LLM_PROVIDER=openai
# OpenAI 的向量嵌入地址
OPENAI_EMBED_BASE=
# OpenAI 的向量嵌入 api
OPENAI_EMBED_KEY=
# OpenAI 的向量嵌入模型名称，用于生成文本向量
OPENAI_EMBED_MODEL=
# Qdrant 向量数据库的访问 URL
QDRANT_URL=
# Qdrant 的 API Key，用于认证访问
QDRANT_API_KEY=